/* FOR MOBILE VERSION */

@media screen and (max-width:1024px) {

  #loader {
    position: absolute;
    right: 41%;
    top: 120px;
    border: 8px solid white;
    border-top: 8px solid grey;
    border-bottom: 8px solid grey;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }

  #ir-viewer-container {
    margin-bottom: 60px;
    margin-left: 10px;
  }

  #section,
  #section-number {
    left: 5px;
    top: 15px;
    font-size: 35px;
  }

  #change-selection {
    left: -10px;
    border-radius: 5px;
    background-color: white;
    padding: 3px;
    width: 80px;
  }

	.robot {
    min-width: 27.5%;
    display: inline-table;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    margin: 4px;
  }

	.cluster {
		min-width: 40%;
    height: 150px;
    display: inline-table;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    margin: 10px;
	}

  .area {
    background-color: orange;
    min-width: 40%;
    height: 150px;
    display: inline-table;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    margin: 10px;
    text-align: center;
  }

}

/* FOR DESKTOP VERSION */

body {
  background-color: #e8e8e8;
}

@media screen and (min-width:1034px) {

  #loader {
    position: absolute;
    right: 50%;
    top: 120px;
    border: 10px solid white; /* Light grey */
    border-top: 10px solid grey; /* Blue */
    border-bottom: 10px solid grey;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }

  #ir-viewer-container {
    margin-left: 80px;
    margin-bottom: 60px;
  }

  #section,
  #section-number {
    font-size: 50px;
  }

  #change-selection {
    left: -50px;
    top: -7px;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    width: 150px;
  }

	.robot {
    min-width: 8%;
    display: inline-table;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    margin: 4px;
  }

	.cluster {
		min-width: 16%;
    height: 150px;
    display: inline-table;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    margin: 10px;
	}

  .area {
    background-color: orange;
    min-width: 16%;
    height: 150px;
    display: inline-table;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    margin: 10px;
    text-align: center;
  }

}

/* FOR BOTH VERSION */

* {
   margin: 0;
   padding: 0;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   letter-spacing: 0.1px;
   -moz-user-select: none;
   user-select: none;
   position: relative;
}

#top-div {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}

#section-container {
  display: inline;
}

#section {
  padding-right: 25px;
}

#change-selection {
  display: none;
}

#change-selection:hover {
  color: white;
  background-color: grey;
}

.robot-id,
.robot-ir {
  color: white;
  display: block;
	text-align: center;
}

.robot-id {
  border-bottom: 0.1px solid white;
  font-size: 15px;
}

.cluster-id,
.cluster-ir {
  display: block;
  text-align: center;
  color: white;
}

.cluster-id {
	font-size: 30px;
	margin-top: 8px;
  padding-bottom: 4px;
	border-bottom: 0.1px solid white;
}

.cluster-ir {
  top: 30px;
	font-size: 32px;
}

.area-id {
	top: 55px;
	font-size: 30px;
}

.robot:hover {
  /* choose an effect */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
